@import url('./root.css');

.poster-card__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.poster-card {
	position: relative;
	width: fit-content;
	filter: var(--shadow);
	transition: all 0.15s ease-in-out;
}
.poster-card:hover {
	transition: all 0.15s ease-in-out;
	transform: scale(1.05);
}

.poster-card:hover > * {
	opacity: 1;
	transition: all 0.15s ease-in-out 0.08s;
}

.poster-card__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}

.poster-card-controls__container {
	position: absolute;
	display: flex;
	bottom: 0.5rem;
	right: 0.3rem;
	opacity: 0;
	transition: all 0.12s ease-in-out;
}

.poster-card__ctrl-btn {
	display: grid;
	place-items: center;
	margin: 0 0.4rem;
	padding: 0.1rem;
	border: 1px solid var(--dark-violet);
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	filter: var(--shadow);
	font-size: 1.2rem;
}

.fa-times {
	color: var(--white);
}

.poster-card__ctrl-btn.times {
	background: red;
}
