@import url("./root.css");

.watched__container {
	min-height: 100vh;
	padding: 6rem 2rem;
	background-color: var(--light-violet);
}

.watched__title {
	margin-top: 0;
	font-family: var(--font-family);
    font-size: 2.2rem;

}
.watched__subtitle {
	font-size: 1.1rem;
	font-family: var(--font-family);
}

